@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #60bfc1;
  --primary-color-dark: #8eb6fa;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #badfd7;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  font-weight: 600;
  color: var(--text-dark);
}

ul li a:hover {
  color: var(--secondary-color);
}

.projects-section {
  background-color: var(--extra-light);
  padding: 3rem 1rem;
  margin-top: 6rem;
}

.projects-container {
  max-width: var(--max-width);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project-box {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.book-icon {
  width: 24px;
  height: 24px;
}

.project-description {
  color: var(--text-light);
  margin: 1rem 0;
  line-height: 1.5;
}

.github-link {
  color: var(--primary-color);
  font-weight: 600;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }
}

