body {
  margin: 0;
  padding: 0;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}

.box {
  max-width: 80%; /* Adjust the maximum width as needed */
  background: rgba(0, 0, 0, 0.4);
  padding: 5%; /* Use relative padding */
  text-align: center;
  margin: 5% auto; /* Use auto margin for centering */
  color: white;
  font-family: 'Century Gothic', sans-serif;
}

.box-img {
  border-radius: 50%;
  max-width: 100%; /* Make the image responsive */
  height: auto;
}

.box h1 {
  font-size: 4vw; /* Use viewport units for font size */
  letter-spacing: 0.4vw;
  font-weight: 100;
  margin-bottom: 2vw; /* Use viewport units for margin */
}

.box h5 {
  font-size: 2vw; /* Use viewport units for font size */
  letter-spacing: 0.3vw;
  font-weight: 100;
  margin-bottom: 2vw; /* Use viewport units for margin */
}

.box p {
  text-align: justify;
}

ul {
  margin: 0;
  padding: 0;
}

.box li {
  display: inline-block;
  margin: 1vw; /* Use viewport units for margin */
  list-style: none;
}

.box li a {
  color: white;
  text-decoration: none;
  font-size: 4vw; /* Use viewport units for font size */
  transition: all ease-in-out 0.25s;
}

.box li a:hover {
  color: #b9b9b9;
}

.pdf-button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  padding: 2vw 4vw; /* Use viewport units for padding */
  border: 0.2vw solid #ffffff; /* Use viewport units for border */
  border-radius: 1vw; /* Use viewport units for border-radius */
  text-decoration: none;
  position: absolute;
  top: 2vw; /* Use viewport units for position */
  right: 2vw; /* Use viewport units for position */
}
