body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    position: relative;
    text-align: center;
    color: #fff;
}

.background-image {
    background-image: url('https://directlinedev.com/media/cases/rooney/header/background_1_zM58lsj.wide.jpeg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    background-blur: 5px;
    padding: 4rem;
}

.profile-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.intro h1 {
    margin: 10px 0 5px;
}

.intro p {
    margin: 5px 0 20px;
}

section {
    margin: 2rem;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
